h1{
    color: brown;
    font-family:fantasy;
    margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
    margin: 10px;   
}

.pic {
    height: auto;
    width: 180px;
    margin: 10px;
}

h1, h2, h3{
    margin: 10px;
}

p{
    margin: 10px;
}